.wrapper {
  display: inline-grid;
  grid-template-columns:  repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 10px;
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box span{
  font-size: 50px;
  height: 50px;
  position: relative;
  bottom: -0.02em;
}