.App {
  margin: auto;
  width: 310px;
}

.Status {
  text-align: center;
  font-size: 40px;
  padding: 20px;
}

#board {
  display: inline-grid;
  grid-template-columns:  repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
  grid-gap: 5px;
  background-color: #f7f7f1;  
}

.cell {
  background-color: #262835;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
}